@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-content: $align;
}
@mixin grid($columns, $rows, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}
@mixin text($align, $size, $weight, $color) {
  text-align: $align;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin grid($repeat, $gap) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
  grid-gap: $gap;
  place-content: center;
}

.productContainer {
  @include size(100%, 100%);
  @include flex(row, center, center);
  border: 1px solid #ccc;
  .productsContent {
    margin: 1rem;
    @include size(30rem, 100rem);
    @include grid(2, 1rem);
  }
}

.card {
  padding: 1rem;
  text-align: center;

  .edit-delete {
    @include size(100%, auto);
    @include flex(row, space-around, center);

    margin-bottom: 10px;
    .button {
      appearance: button;
      background-color: #fff;
      background-image: none;
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: black 4px 4px 0 0, #000 4px 4px 0 1px;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      height: 1.5rem;
      width: 1.5rem;
      overflow: visible;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    .button:focus {
      text-decoration: none;
    }

    .button:hover {
      text-decoration: none;
    }

    .button:active {
      box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
      outline: 0;
    }

    .button:not([disabled]):active {
      box-shadow: black 2px 2px 0 0, #000 2px 2px 0 1px;
      transform: translate(2px, 2px);
    }
  }
  .cardMedia {
    @include size(100%, auto);
    border-radius: 15%;
  }
}

form {
  textarea,
  input {
    @include flex(row, center, center);
    @include size(100%, auto);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
  }
}
